@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Ubuntu&display=swap');
@import "tailwindcss";

:root{
    --background-gradient: linear-gradient(120deg,hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --state-bg-gradient: linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    --graylish-black-blue: hsl(240, 10%, 16%);
    --graylish-blue: hsl(240, 2%, 79%);
    --very-dark-blue: hsl(208, 49%, 24%);
    --light-red: hsl(356, 100%, 66%);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


h3 {
    color: var(--very-dark-blue);
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.btn-light {
    color: var(--light-red);
    font-weight: bold;
}

body {
    overflow-x: hidden;
    font-family: "Overpass", sans-serif;
}

.showcase {
    background-image: var(--background-gradient);
    height: 400px;
    border-bottom-left-radius: 100px;
}

.showcase .overlay {
    background: url('/images/bg-pattern-intro-desktop.svg') no-repeat center;
    min-height: 400px;
}

.state {
    background-image: var(--state-bg-gradient);
    border-radius: 0 100px 0 100px;
    margin: 100px 0 50px;
}

.footer {
    background-color: var(--graylish-black-blue);
    color: var(--graylish-blue);
    border-top-right-radius: 100px;
}

@media (min-width: 1024px) {
    .showcase,
    .showcase .overlay {
        height:600px;
    }
}