@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Ubuntu&display=swap');
@import "tailwindcss";

@theme {
    --font-ubuntu: "Ubuntu", sans-serif;
    --font-overpass: "Overpass", sans-serif;
}
:root{
    --background-gradient: linear-gradient(
    120deg,
    hsl(13, 100%, 72%), 
    hsl(353, 100%, 62%)
    )
}

.showcase {
    background-image: var(--background-gradient);
    height: 400px;
    border-bottom-left-radius: 100px;
}

.showcase .overlay {
    background: url('/images/bg-pattern-intro-desktop.svg') no-repeat center;
    min-height: 400px;
}

@media (min-width: 1024px) {
    .showcase,
    .showcase .overlay {
        height:600px;
    }
}